<%= form_with(model: product, class: "contents") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control p-4">
    <%= form.label :title, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.text_field :title, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="form-control p-4">
    <%= form.label :subtitle, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.text_field :subtitle, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="form-control p-4">
    <%= form.label :description, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.textarea :description, class: "textarea h-72 textarea-bordered textarea-primary" %>
  </div>

                        <div class="overflow-hidden border-2 border-transparent rounded-lg">
                            <%= image_tag(@product.image, class: "object-cover w-full h-full", alt: @product.title) if @product.image.attached? %>
                        </div>

  <div class="form-control p-4">
    <%= form.label :image, class: "label-text" %>
    <%= form.file_field :image, class: "file-input file-input-bordered w-full max-w-xs" %>
  </div>

  <div class="form-control p-4">
    <%= form.label :price, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.text_field :price, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div>
    <%= form.submit class: "rounded-lg py-3 px-5" %>
  </div>
<% end %>
